Repository thinegan/infrastructure: changes, and which Atlantis projects are due for each by the changed paths.
All: timeclone-pod-devops-staging-iam, timeclone-pod-de-staging-iam, timeclone-pod-devops-staging-s3, timeclone-pod-devops-staging-network, timeclone-pod-devops-staging-route53, timeclone-pod-devops-staging-kms, timeclone-pod-devops-staging-secretmanager, timeclone-pod-de-staging-secretmanager, timeclone-pod-devops-staging-ec2, timeclone-pod-devops-github-repository, timeclone-pod-devops-github-team-membership, timeclone-pod-devops-staging-ecr, timeclone-pod-devops-staging-rds-postgres-supplier, timeclone-pod-devops-staging-rds-postgres-employee, timeclone-pod-devops-staging-idp, timeclone-pod-devops-cloudflare, timeclone-pod-devops-codefresh-pipelines, timeclone-pod-devops-datadog, timeclone-pod-devops-argocd-staging-eks-test6, timeclone-pod-devops-staging-eks-test6, timeclone-pod-de-github-team-membership, timeclone-pod-de-github-repository, timeclone-pod-devops-production-iam, timeclone-pod-devops-production-kms, timeclone-pod-devops-production-secretmanager, timeclone-pod-devops-production-network-vpc, timeclone-pod-devops-production-general4, timeclone-pod-devops-twingate-production-general4, timeclone-pod-devops-argocd-production-general4

Path conditions:
  timeclone-pod-devops-staging-iam: any of: timeclone/pod-DEVOPS/aws/staging/iam/*.tf
  timeclone-pod-de-staging-iam: any of: timeclone/pod-DE/aws/staging/iam/*.tf
  timeclone-pod-devops-staging-s3: any of: timeclone/pod-DEVOPS/aws/staging/s3/*.tf
  timeclone-pod-devops-staging-network: any of: timeclone/pod-DEVOPS/aws/staging/network/*.tf
  timeclone-pod-devops-staging-route53: any of: timeclone/pod-DEVOPS/aws/staging/route53/*.tf
  timeclone-pod-devops-staging-kms: any of: timeclone/pod-DEVOPS/aws/staging/kms/*.tf
  timeclone-pod-devops-staging-secretmanager: any of: timeclone/pod-DEVOPS/aws/staging/secretmanager/*.tf
  timeclone-pod-de-staging-secretmanager: any of: timeclone/pod-DE/aws/staging/secretmanager/*.tf
  timeclone-pod-devops-staging-ec2: any of: timeclone/pod-DEVOPS/aws/staging/ec2/*.tf
  timeclone-pod-devops-github-repository: any of: timeclone/pod-DEVOPS/github/repository/*.tf
  timeclone-pod-devops-github-team-membership: any of: timeclone/pod-DEVOPS/github/team_membership/*.tf
  timeclone-pod-devops-staging-ecr: any of: timeclone/pod-DEVOPS/aws/staging/ecr/*.tf
  timeclone-pod-devops-staging-rds-postgres-supplier: any of: timeclone/pod-DEVOPS/aws/staging/rds/postgres_supplier/*.tf
  timeclone-pod-devops-staging-rds-postgres-employee: any of: timeclone/pod-DEVOPS/aws/staging/rds/postgres_employee/*.tf
  timeclone-pod-devops-staging-idp: any of: timeclone/pod-DEVOPS/aws/staging/idp/*.tf
  timeclone-pod-devops-cloudflare: any of: timeclone/pod-DEVOPS/cloudflare/*.tf
  timeclone-pod-devops-codefresh-pipelines: any of: timeclone/pod-DEVOPS/codefresh/pipelines/*.tf
  timeclone-pod-devops-datadog: any of: timeclone/pod-DEVOPS/datadog/*.tf
  timeclone-pod-devops-argocd-staging-eks-test6: any of: timeclone/pod-DEVOPS/argocd/staging/stag-eks-test6/*.tf
  timeclone-pod-devops-staging-eks-test6: any of: timeclone/pod-DEVOPS/aws/staging/eks/stag-eks-test6/*.tf
  timeclone-pod-de-github-team-membership: any of: timeclone/pod-DE/github/team_membership/*.tf
  timeclone-pod-de-github-repository: any of: timeclone/pod-DE/github/repository/*.tf
  timeclone-pod-devops-production-iam: any of: timeclone/pod-DEVOPS/aws/production/iam/*.tf
  timeclone-pod-devops-production-kms: any of: timeclone/pod-DEVOPS/aws/production/kms/*.tf
  timeclone-pod-devops-production-secretmanager: any of: timeclone/pod-DEVOPS/aws/production/secretmanager/*.tf
  timeclone-pod-devops-production-network-vpc: any of: timeclone/pod-DEVOPS/aws/production/network/vpc/*.tf
  timeclone-pod-devops-production-general4: any of: timeclone/pod-DEVOPS/aws/production/eks/general4/*.tf
  timeclone-pod-devops-twingate-production-general4: any of: timeclone/pod-DEVOPS/twingate/production/general4/*.tf
  timeclone-pod-devops-argocd-production-general4: any of: timeclone/pod-DEVOPS/argocd/production/general4/*.tf

Example adding pod team Data Engineering
  timeclone/pod-DE/aws/staging/iam/groups.tf
  timeclone/pod-DE/aws/staging/iam/main.tf
  timeclone/pod-DE/aws/staging/iam/policy.tf
  timeclone/pod-DE/aws/staging/iam/role.tf
  timeclone/pod-DE/aws/staging/iam/user.tf
  timeclone/pod-DE/aws/staging/iam/versions.tf
  timeclone/pod-DE/aws/staging/secretmanager/main.tf
  timeclone/pod-DE/aws/staging/secretmanager/secretmanager.tf
  timeclone/pod-DE/aws/staging/secretmanager/versions.tf
  timeclone/pod-DE/github/repository/main.tf
  timeclone/pod-DE/github/repository/repository.tf
  timeclone/pod-DE/github/repository/versions.tf
  timeclone/pod-DE/github/team_membership/main.tf
  timeclone/pod-DE/github/team_membership/member.tf
  timeclone/pod-DE/github/team_membership/team.tf
  timeclone/pod-DE/github/team_membership/versions.tf
Due: timeclone-pod-de-staging-iam, timeclone-pod-de-staging-secretmanager, timeclone-pod-de-github-team-membership, timeclone-pod-de-github-repository

Adding AWS and Github modules
  timeclone/modules/aws/iam-group/v5_32_0/README.md
  timeclone/modules/aws/iam-group/v5_32_0/main.tf
  timeclone/modules/aws/iam-group/v5_32_0/output.tf
  timeclone/modules/aws/iam-group/v5_32_0/variables.tf
  timeclone/modules/aws/iam-group/v5_32_0/versions.tf
  timeclone/modules/aws/iam-policy/v5_32_0/README.md
  timeclone/modules/aws/iam-policy/v5_32_0/main.tf
  timeclone/modules/aws/iam-policy/v5_32_0/output.tf
  timeclone/modules/aws/iam-policy/v5_32_0/variables.tf
  timeclone/modules/aws/iam-policy/v5_32_0/versions.tf
  timeclone/modules/aws/iam-user/v5_32_0/README.md
  timeclone/modules/aws/iam-user/v5_32_0/main.tf
  timeclone/modules/aws/iam-user/v5_32_0/output.tf
  timeclone/modules/aws/iam-user/v5_32_0/variables.tf
  timeclone/modules/aws/iam-user/v5_32_0/versions.tf
  timeclone/modules/aws/secretmanager/v1_1_1/README.md
  timeclone/modules/aws/secretmanager/v1_1_1/main.tf
  timeclone/modules/aws/secretmanager/v1_1_1/output.tf
  timeclone/modules/aws/secretmanager/v1_1_1/variables.tf
  timeclone/modules/aws/secretmanager/v1_1_1/versions.tf
  timeclone/modules/github/v5/repository/README.md
  timeclone/modules/github/v5/repository/main.tf
  timeclone/modules/github/v5/repository/output.tf
  timeclone/modules/github/v5/repository/variables.tf
  timeclone/modules/github/v5/repository/versions.tf
  timeclone/modules/github/v5/team_membership/README.md
  timeclone/modules/github/v5/team_membership/main.tf
  timeclone/modules/github/v5/team_membership/output.tf
  timeclone/modules/github/v5/team_membership/variables.tf
  timeclone/modules/github/v5/team_membership/versions.tf
Due: none

Added modules VPC and ECR
  timeclone/modules/aws/ecr/v1_6_0/README.md
  timeclone/modules/aws/ecr/v1_6_0/main.tf
  timeclone/modules/aws/ecr/v1_6_0/output.tf
  timeclone/modules/aws/ecr/v1_6_0/variables.tf
  timeclone/modules/aws/ecr/v1_6_0/versions.tf
  timeclone/modules/aws/vpc/v5_1_2/README.md
  timeclone/modules/aws/vpc/v5_1_2/main.tf
  timeclone/modules/aws/vpc/v5_1_2/output.tf
  timeclone/modules/aws/vpc/v5_1_2/variables.tf
  timeclone/modules/aws/vpc/v5_1_2/versions.tf
Due: none

Add more modules RDS and S3
  timeclone/modules/aws/rds/README.md
  timeclone/modules/aws/rds/main.tf
  timeclone/modules/aws/rds/output.tf
  timeclone/modules/aws/rds/variables.tf
  timeclone/modules/aws/rds/versions.tf
  timeclone/modules/aws/s3/main.tf
  timeclone/modules/aws/s3/output.tf
  timeclone/modules/aws/s3/v3_15_1/README.md
  timeclone/modules/aws/s3/v3_15_1/main.tf
  timeclone/modules/aws/s3/v3_15_1/output.tf
  timeclone/modules/aws/s3/v3_15_1/variables.tf
  timeclone/modules/aws/s3/v3_15_1/versions.tf
  timeclone/modules/aws/s3/variables.tf
  timeclone/modules/aws/s3/versions.tf
Due: none

Added Example pod DevOps team
  timeclone/pod-DEVOPS/aws/staging/ecr/ecr.tf
  timeclone/pod-DEVOPS/aws/staging/ecr/main.tf
  timeclone/pod-DEVOPS/aws/staging/ecr/versions.tf
  timeclone/pod-DEVOPS/aws/staging/kms/kms.tf
  timeclone/pod-DEVOPS/aws/staging/kms/main.tf
  timeclone/pod-DEVOPS/aws/staging/kms/versions.tf
  timeclone/pod-DEVOPS/aws/staging/network/main.tf
  timeclone/pod-DEVOPS/aws/staging/network/versions.tf
  timeclone/pod-DEVOPS/aws/staging/network/vpc.tf
  timeclone/pod-DEVOPS/aws/staging/secretmanager/main.tf
  timeclone/pod-DEVOPS/aws/staging/secretmanager/secretmanager.tf
  timeclone/pod-DEVOPS/aws/staging/secretmanager/versions.tf
  timeclone/pod-DEVOPS/github/repository/main.tf
  timeclone/pod-DEVOPS/github/repository/repository.tf
  timeclone/pod-DEVOPS/github/repository/versions.tf
  timeclone/pod-DEVOPS/github/team_membership/main.tf
  timeclone/pod-DEVOPS/github/team_membership/member.tf
  timeclone/pod-DEVOPS/github/team_membership/team.tf
  timeclone/pod-DEVOPS/github/team_membership/versions.tf
Due: timeclone-pod-devops-staging-network, timeclone-pod-devops-staging-kms, timeclone-pod-devops-staging-secretmanager, timeclone-pod-devops-github-repository, timeclone-pod-devops-github-team-membership, timeclone-pod-devops-staging-ecr

Added Example of rds and s3 bucket setup
  timeclone/pod-DEVOPS/aws/staging/rds/postgres_employee/main.tf
  timeclone/pod-DEVOPS/aws/staging/rds/postgres_employee/rds.tf
  timeclone/pod-DEVOPS/aws/staging/rds/postgres_employee/versions.tf
  timeclone/pod-DEVOPS/aws/staging/rds/postgres_supplier/main.tf
  timeclone/pod-DEVOPS/aws/staging/rds/postgres_supplier/rds.tf
  timeclone/pod-DEVOPS/aws/staging/rds/postgres_supplier/versions.tf
  timeclone/pod-DEVOPS/aws/staging/s3/main.tf
  timeclone/pod-DEVOPS/aws/staging/s3/s3bucket.tf
  timeclone/pod-DEVOPS/aws/staging/s3/versions.tf
Due: timeclone-pod-devops-staging-s3, timeclone-pod-devops-staging-rds-postgres-supplier, timeclone-pod-devops-staging-rds-postgres-employee

Add Example Cloudflare domain
  timeclone/pod-DE/cloudflare/crytera_com.tf
  timeclone/pod-DE/cloudflare/main.tf
  timeclone/pod-DE/cloudflare/versions.tf
Due: none

Added ZTE twingate
  timeclone/pod-DEVOPS/twingate/staging/stag-eks-test6/main.tf
  timeclone/pod-DEVOPS/twingate/staging/stag-eks-test6/twingate.tf
  timeclone/pod-DEVOPS/twingate/staging/stag-eks-test6/versions.tf
Due: none

Cleanup terraform fmt
  timeclone/modules/aws/iam-user/v5_32_0/main.tf
  timeclone/pod-DE/cloudflare/main.tf
  timeclone/pod-DEVOPS/aws/staging/kms/kms.tf
  timeclone/pod-DEVOPS/github/repository/main.tf
  timeclone/pod-DEVOPS/github/team_membership/main.tf
Due: timeclone-pod-devops-staging-kms, timeclone-pod-devops-github-repository, timeclone-pod-devops-github-team-membership

Added DevOps iam example
  timeclone/pod-DEVOPS/aws/staging/iam/groups.tf
  timeclone/pod-DEVOPS/aws/staging/iam/main.tf
  timeclone/pod-DEVOPS/aws/staging/iam/policy.tf
  timeclone/pod-DEVOPS/aws/staging/iam/policy_global.tf
  timeclone/pod-DEVOPS/aws/staging/iam/policy_synk.tf
  timeclone/pod-DEVOPS/aws/staging/iam/user.tf
  timeclone/pod-DEVOPS/aws/staging/iam/versions.tf
Due: timeclone-pod-devops-staging-iam

Added Codefresh module and example pipeline setup
  timeclone/modules/codefresh/cfpipe/README.md
  timeclone/modules/codefresh/cfpipe/main.tf
  timeclone/modules/codefresh/cfpipe/output.tf
  timeclone/modules/codefresh/cfpipe/variables.tf
  timeclone/modules/codefresh/cfpipe/versions.tf
  timeclone/pod-DEVOPS/codefresh/pipelines/main.tf
  timeclone/pod-DEVOPS/codefresh/pipelines/pipeline.tf
  timeclone/pod-DEVOPS/codefresh/pipelines/project.tf
  timeclone/pod-DEVOPS/codefresh/pipelines/versions.tf
Due: timeclone-pod-devops-codefresh-pipelines

Update initial basic documentation for infra
  README.md
Due: none

cleanup terraform fmt
  timeclone/pod-DEVOPS/codefresh/pipelines/main.tf
Due: timeclone-pod-devops-codefresh-pipelines

Added ReadMe for iam documentation
  timeclone/pod-DE/aws/staging/iam/README.md
Due: none

Add Secret Manager Documentation update 1
  timeclone/pod-DE/aws/staging/secretmanager/README.md
  timeclone/pod-DE/aws/staging/secretmanager/images/Access_of_secret_stored_in_Secrets_Manager.png
  timeclone/pod-DE/aws/staging/secretmanager/images/example_secretmanager_templates.png
Due: none

Add Twingate ZTNA Documentation
  timeclone/pod-DEVOPS/twingate/staging/stag-eks-test6/README.md
  timeclone/pod-DEVOPS/twingate/staging/stag-eks-test6/images/Twingate_Zero_Trust_Network_Access.png
Due: none

Codefresh documentation setup pipeline
  timeclone/pod-DEVOPS/codefresh/pipelines/README.md
Due: none

Added ECR documentation
  timeclone/pod-DEVOPS/aws/staging/ecr/README.md
  timeclone/pod-DEVOPS/aws/staging/ecr/images/Amazon_ECR_Cross_Account_Access_for_Containerized_Applications_on_EKS.png
  timeclone/pod-DEVOPS/aws/staging/ecr/images/example_ecr_template.png
Due: none

Add VPC documentation
  timeclone/pod-DEVOPS/aws/staging/network/README.md
  timeclone/pod-DEVOPS/aws/staging/network/images/VPC_with_private_and_public_subnets_in_3_Availability_Zones.png
Due: none

Added ArgoCD post installation example
  timeclone/pod-DEVOPS/argocd/staging/stag-eks-test6/README.md
  timeclone/pod-DEVOPS/argocd/staging/stag-eks-test6/argocd.tf
  timeclone/pod-DEVOPS/argocd/staging/stag-eks-test6/main.tf
  timeclone/pod-DEVOPS/argocd/staging/stag-eks-test6/versions.tf
Due: timeclone-pod-devops-argocd-staging-eks-test6

Add KMS Setup documentation
  timeclone/pod-DEVOPS/aws/staging/kms/README.md
  timeclone/pod-DEVOPS/aws/staging/kms/images/Access_of_secret_stored_in_Secrets_Manager.png
  timeclone/pod-DEVOPS/aws/staging/kms/images/example_secretmanager_templates.png
Due: none

Add S3 Setup documentation
  timeclone/pod-DEVOPS/aws/staging/s3/README.md
  timeclone/pod-DEVOPS/aws/staging/s3/images/AWS_Simple_Cloud_Storage.png
Due: none

Add Github documentation
  timeclone/pod-DEVOPS/github/repository/README.md
  timeclone/pod-DEVOPS/github/team_membership/README.md
Due: none

Add Simple RDS documentation
  timeclone/pod-DEVOPS/aws/staging/rds/postgres_employee/README.md
Due: none

Add EKS module staging ALB setup and module doc
  timeclone/modules/aws/eks/staging/managed_alb_nodes/v1_28/README.md
  timeclone/modules/aws/eks/staging/managed_alb_nodes/v1_28/helm.tf
  timeclone/modules/aws/eks/staging/managed_alb_nodes/v1_28/main.tf
  timeclone/modules/aws/eks/staging/managed_alb_nodes/v1_28/output.tf
  timeclone/modules/aws/eks/staging/managed_alb_nodes/v1_28/provider.tf
  timeclone/modules/aws/eks/staging/managed_alb_nodes/v1_28/service_roles.tf
  timeclone/modules/aws/eks/staging/managed_alb_nodes/v1_28/useracc.tf
  timeclone/modules/aws/eks/staging/managed_alb_nodes/v1_28/values/argocd-values.yaml
  timeclone/modules/aws/eks/staging/managed_alb_nodes/v1_28/values/argorollout-values.yaml
  timeclone/modules/aws/eks/staging/managed_alb_nodes/v1_28/values/autoscaler-values.yaml
  timeclone/modules/aws/eks/staging/managed_alb_nodes/v1_28/values/dashboard-values.yaml
  timeclone/modules/aws/eks/staging/managed_alb_nodes/v1_28/values/prometheus-stack-values.yaml
  timeclone/modules/aws/eks/staging/managed_alb_nodes/v1_28/values/runner-values.yaml
  timeclone/modules/aws/eks/staging/managed_alb_nodes/v1_28/variables.tf
  timeclone/modules/aws/eks/staging/managed_alb_nodes/v1_28/versions.tf
Due: none

Example eks setup with alb ingress documentation
  timeclone/pod-DEVOPS/aws/staging/eks/stag-eks-test6/README.md
  timeclone/pod-DEVOPS/aws/staging/eks/stag-eks-test6/eks.tf
  timeclone/pod-DEVOPS/aws/staging/eks/stag-eks-test6/images/EKS_1_natgateway_in_3_az.png
  timeclone/pod-DEVOPS/aws/staging/eks/stag-eks-test6/main.tf
  timeclone/pod-DEVOPS/aws/staging/eks/stag-eks-test6/versions.tf
Due: timeclone-pod-devops-staging-eks-test6

Cleanup, terraform fmt
  timeclone/modules/aws/eks/staging/managed_alb_nodes/v1_28/helm.tf
Due: none

Add Datadog example filter exclusion & custom pipeline
  timeclone/pod-DEVOPS/datadog/README.md
  timeclone/pod-DEVOPS/datadog/ddconfig.tf
  timeclone/pod-DEVOPS/datadog/main.tf
  timeclone/pod-DEVOPS/datadog/versions.tf
Due: timeclone-pod-devops-datadog

Add Readme intial doc
  timeclone/README.md
Due: none

Cleanup old/unsed comment
  timeclone/modules/aws/eks/staging/managed_alb_nodes/v1_28/variables.tf
Due: none
